* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #b66a2f;
  cursor: pointer; }
  a:link {
    color: #b66a2f; }
  a:visited {
    color: #b66a2f; }
  a:hover {
    transition: 1s;
    text-shadow: 0 0 1px; }

html {
  height: 100%; }

body {
  display: flex;
  justify-content: center;
  min-height: 100%;
  line-height: 1.5;
  background: #fff;
  color: #451a03;
  font-size: 16px; }

#app {
  width: 90%; }

#headerOuter {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 4px solid #b66a2f;
  background: #451a03;
  z-index: 1; }

#header {
  display: flex;
  align-items: flex-end;
  width: 90%;
  height: 31px;
  padding-bottom: 2px; }
  #header h1.siteTitle {
    display: flex;
    align-items: flex-end;
    text-transform: capitalize; }
    #header h1.siteTitle a {
      color: #fff; }
  #header nav {
    margin-left: auto; }
    #header nav > ul {
      display: flex;
      align-items: flex-end; }
      #header nav > ul li {
        margin-left: 20px; }
    #header nav a {
      color: #fff;
      cursor: pointer; }
      #header nav a:hover {
        text-decoration: underline; }
    #header nav .myPageButton {
      overflow: hidden;
      display: block;
      width: 25px;
      height: 25px;
      position: relative;
      border-radius: 50%;
      background: #fff; }
      #header nav .myPageButton:hover {
        border: 2px solid #b66a2f; }
      #header nav .myPageButton img {
        width: inherit;
        height: inherit; }

input, textarea, select {
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 2px; }
  input.error, textarea.error, select.error {
    border-color: #f88; }
    input.error:focus, textarea.error:focus, select.error:focus {
      outline: none; }

.signUpView, .signInView, .contentsUploadView {
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7); }
  .signUpView .closeArea, .signInView .closeArea, .contentsUploadView .closeArea {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2; }

.signUp, .signIn, .contentsUpload {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 400px;
  min-height: 400px;
  margin: auto;
  position: relative;
  z-index: 3;
  background: #fff;
  border-radius: 5px; }
  .signUp > *, .signIn > *, .contentsUpload > * {
    width: 90%; }
  .signUp form, .signIn form, .contentsUpload form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 300px; }

.contentsUpload {
  width: 600px;
  min-width: 400px;
  height: 600px;
  min-height: 600px; }
  .contentsUpload form {
    flex-basis: 600px; }
    .contentsUpload form label {
      display: flex;
      align-items: center;
      position: relative; }
      .contentsUpload form label > span {
        display: block;
        width: 3em; }
      .contentsUpload form label input, .contentsUpload form label textarea, .contentsUpload form label select {
        flex-basis: 100%; }
      .contentsUpload form label .characterCount {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #aaa; }
    .contentsUpload form .selectedImageViewBox {
      display: flex; }
      .contentsUpload form .selectedImageViewBox .selectedImage {
        width: 100px;
        height: 100px;
        position: relative; }
        .contentsUpload form .selectedImageViewBox .selectedImage .deleteButton {
          position: absolute;
          right: 0;
          top: 0; }
        .contentsUpload form .selectedImageViewBox .selectedImage img {
          width: 100%;
          height: 100%; }

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  position: fixed;
  top: 35px;
  left: 0;
  border-bottom: 1px solid #aaa;
  background: #fff;
  transition: 0.5s; }
  .notification > p {
    width: 90%;
    text-align: center; }

#content {
  margin-top: 71px; }

.contents > h1 {
  display: none; }

.imageListViewerNav {
  display: flex;
  height: 40px;
  background: #fdf6e3; }
  .imageListViewerNav > * {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-right: 2px solid #b66a2f; }
    .imageListViewerNav > *:first-child {
      border-left: 2px solid #b66a2f; }
    .imageListViewerNav > *:hover {
      background: #451a03;
      color: #fff; }
  .imageListViewerNav .autoLoadButtonLabel {
    cursor: default; }
    .imageListViewerNav .autoLoadButtonLabel .autoLoadButton {
      width: 20px;
      height: 20px; }
  .imageListViewerNav .tagArea {
    position: relative;
    cursor: pointer; }
    .imageListViewerNav .tagArea .tagButton {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 5px;
      border-radius: 2px;
      cursor: pointer;
      transition: none; }
    .imageListViewerNav .tagArea .tagsView {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-self: flex-start;
      width: 300%;
      min-height: 150px;
      padding: 10px;
      border: 2px solid #000;
      position: absolute;
      left: -110%;
      top: 45px;
      background: #fdf6e3;
      cursor: default; }
      .imageListViewerNav .tagArea .tagsView::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #000;
        position: absolute;
        left: 50%;
        top: -10px; }
      .imageListViewerNav .tagArea .tagsView .tag {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        padding: 5px; }

.simpleImageListViewer .images {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px; }
  .simpleImageListViewer .images .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 150px;
    max-width: 300px;
    height: 200px;
    margin-left: 5px;
    margin-top: 5px; }
    .simpleImageListViewer .images .image a {
      display: block;
      width: 100%;
      height: 100%; }
    .simpleImageListViewer .images .image img {
      width: 100%;
      height: 100%; }

.simpleImageListViewer .pager {
  display: flex;
  justify-content: center; }
  .simpleImageListViewer .pager > ul {
    display: flex;
    flex-grow: 1;
    flex-basis: 340px;
    max-width: 340px;
    margin: 20px 0;
    list-style: none; }
    .simpleImageListViewer .pager > ul .pagerItem {
      display: flex;
      justify-content: center;
      flex-grow: 1; }

.myPage > header {
  border-bottom: 2px solid #b66a2f; }
  .myPage > header ul.myPageNav {
    margin-top: 20px;
    list-style-position: inside; }

.myPage .myPageContent {
  margin-top: 20px; }
  .myPage .myPageContent > article > div {
    margin-top: 20px; }

.registrationInformation .registrationInformationView > dl > div {
  display: flex;
  margin-top: 10px; }
  .registrationInformation .registrationInformationView > dl > div:first-child {
    margin-top: 0; }
  .registrationInformation .registrationInformationView > dl > div > dt {
    flex-basis: 200px; }
  .registrationInformation .registrationInformationView > dl > div > dd {
    flex-basis: 200px; }

.registrationInformation .registrationInformationView .activationButton {
  display: block; }

.registrationInformation .registrationInformationView .activated {
  display: block;
  color: #b66a2f; }

.registrationInformation .registrationInformationView > .registrationInformationChangeButton {
  display: block;
  margin-top: 20px; }

.registrationInformation .registrationInformationView > .withdrawalButton {
  display: block;
  margin-top: 60px; }

.registrationInformation .registrationInformationEdit > dl > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; }
  .registrationInformation .registrationInformationEdit > dl > div:first-child {
    margin-top: 0; }
  .registrationInformation .registrationInformationEdit > dl > div > dt {
    flex-basis: 200px; }
  .registrationInformation .registrationInformationEdit > dl > div > dd {
    flex-basis: 200px; }
    .registrationInformation .registrationInformationEdit > dl > div > dd > input {
      width: 100%; }
  .registrationInformation .registrationInformationEdit > dl > div dd.avatar {
    display: flex;
    flex-direction: column; }
    .registrationInformation .registrationInformationEdit > dl > div dd.avatar img {
      width: 50px;
      height: 50px; }

.registrationInformation .registrationInformationEdit button[type="submit"] {
  margin-top: 20px; }

.registrationInformation .registrationInformationEdit button:nth-of-type(2) {
  margin-left: 20px; }

.registrationInformation .dialog {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1; }
  .registrationInformation .dialog > div {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 400px;
    margin: auto;
    padding: 40px;
    top: 50%;
    background: #fff; }

.registrationInformation .withdrawalDialog > div > div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }

.simpleContentViewer {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7); }
  .simpleContentViewer > .closeArea {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0; }
  .simpleContentViewer > .wrapper {
    display: flex;
    width: 100%;
    height: 90%;
    margin: auto;
    position: relative;
    z-index: 1; }
    .simpleContentViewer > .wrapper .closeButton {
      order: 4;
      width: 40px;
      height: 40px;
      padding: 0;
      border: none;
      position: absolute;
      left: 90%;
      top: 0;
      font-size: 24px; }
    .simpleContentViewer > .wrapper .navigationButton {
      width: 10%; }
      .simpleContentViewer > .wrapper .navigationButton > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 24px; }
      .simpleContentViewer > .wrapper .navigationButton > a:hover {
        transition: none;
        background: rgba(0, 0, 0, 0.3);
        color: #fff; }
      .simpleContentViewer > .wrapper .navigationButton:nth-of-type(1) {
        order: 1; }
      .simpleContentViewer > .wrapper .navigationButton:nth-of-type(2) {
        order: 3; }
    .simpleContentViewer > .wrapper .catContent {
      overflow: auto;
      order: 2;
      width: 80%;
      min-height: 100%;
      background: #fff; }
      .simpleContentViewer > .wrapper .catContent .contentImg {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70%;
        background: #000; }
        .simpleContentViewer > .wrapper .catContent .contentImg img {
          width: 80%;
          height: 100%; }
      .simpleContentViewer > .wrapper .catContent .contentInfo {
        padding: 10px;
        background: #fff; }
        .simpleContentViewer > .wrapper .catContent .contentInfo > h1 {
          display: none; }
        .simpleContentViewer > .wrapper .catContent .contentInfo .contentInfoList {
          display: flex;
          flex-wrap: wrap;
          list-style: none; }
          .simpleContentViewer > .wrapper .catContent .contentInfo .contentInfoList > li {
            margin-left: 20px; }
            .simpleContentViewer > .wrapper .catContent .contentInfo .contentInfoList > li:first-child {
              margin-left: 0; }
          .simpleContentViewer > .wrapper .catContent .contentInfo .contentInfoList .poster .userView {
            display: flex;
            align-items: flex-start; }
            .simpleContentViewer > .wrapper .catContent .contentInfo .contentInfoList .poster .userView img {
              width: 50px;
              height: 50px; }
          .simpleContentViewer > .wrapper .catContent .contentInfo .contentInfoList .tags .tag {
            margin-left: 5px; }
          .simpleContentViewer > .wrapper .catContent .contentInfo .contentInfoList .description {
            order: -1;
            width: 100%;
            margin-left: 0;
            margin-bottom: 20px; }
        .simpleContentViewer > .wrapper .catContent .contentInfo .contentButtons {
          margin-top: 20px; }
          .simpleContentViewer > .wrapper .catContent .contentInfo .contentButtons > * {
            margin-left: 20px; }
            .simpleContentViewer > .wrapper .catContent .contentInfo .contentButtons > *:first-child {
              margin-left: 0; }
          .simpleContentViewer > .wrapper .catContent .contentInfo .contentButtons > button {
            border: none;
            cursor: pointer; }
        .simpleContentViewer > .wrapper .catContent .contentInfo .shareView {
          margin-top: 20px;
          border: 1px solid #aaa;
          border-radius: 5px; }
          .simpleContentViewer > .wrapper .catContent .contentInfo .shareView ul {
            list-style: none; }
        .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox {
          margin-top: 20px;
          border-top: 1px solid #aaa; }
          .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox .commentList > section {
            margin-top: 20px; }
            .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox .commentList > section > header {
              display: flex;
              align-items: flex-end; }
              .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox .commentList > section > header > * {
                margin-left: 20px; }
                .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox .commentList > section > header > *:first-child {
                  margin-left: 0; }
            .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox .commentList > section .userView img {
              width: 30px;
              height: 30px; }
            .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox .commentList > section button {
              border: none; }
          .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox .commentForm {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap; }
            .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox .commentForm textarea {
              width: 100%; }
            .simpleContentViewer > .wrapper .catContent .contentInfo .commentBox .commentForm button[type="submit"] {
              margin-left: auto; }
