html {
	height: 100%;
}

body {
	min-height: 101%;
}

#app {
	width: 90%;
	margin: 50px auto 0;
}

.imageListViewer {
	
	.imageListViewerNav {
		$imageListViewerNavHeight: 30px;
		height: $imageListViewerNavHeight;

		.autoReloadButtonLabel {
			.autoReloadButton {
				width: $imageListViewerNavHeight;
				height: $imageListViewerNavHeight;
				margin: 0;
			}
		}
	}

	.imageList {
		margin-top: 20px;
	}
	.images {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		margin-left: -10px;
		.image {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
			flex-basis: 150px;
			margin-left: 10px;
			margin-bottom: 10px;
			max-height: 200px;
			border-radius: 10px;
			background: #eee;
			a {
				display: block;
				width: 100%;
				height: 85%;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.pager {
		& > ul {
			display: flex;
			list-style: none;
			max-width: 340px;
			margin: 20px auto 0;
			.pagerItem {
				flex: 1;
				text-align: center;
			}
		}
	}
}

.simpleContentViewer {
	.catContent {
		.contentImg {
			width: 200px;
			height: 200px;
		}
	}
}

.fileUpload {
	.fileUploadForm {
		& > * {
			display: block;
		}
		input[name="name"] {
			width: 5em;
		}
		input[name="tag"] {
			width: 5em;
		}
		input[name="age"] {
			width: 3em;
		}

		.selectedImageViewBox {
			display: flex;
			flex-wrap: wrap;
			.selectedImage {
				position: relative;
				width: 100px;
				height: 100px;

				.deleteButton {
					position: absolute;
					top: 5px;
					right: 5px;
					color: #fff;
					background: #333;
					cursor: pointer;
				}

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.signUp {
	.signUpForm {
		& > * {
			display: block;
			margin-top: 10px;

			&:first-child { margin-top: 0 }
		}

		input[type="email"],
		input[type="text"],
		input[type="password"] {
			padding: 7px;
			border: 1px solid #ddd;
			border-radius: 2px;

			&.error {
				border-color: #f22;

				&:focus {
					outline: none;
				}
			}
		}
	}
}