$baseColor: #fff;
$subColor: #fdf6e3;
$subColor2: #fffffa;
$accentColor: #b66a2f;
$fontColor: #451a03;

$mainWidth: 90%;
$defaultMargin: 20px;

@mixin clearfix {
	content: '';
	display: block;
	clear: both;
}

@mixin modalWindow {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $accentColor;
	cursor: pointer;

	&:link { color: $accentColor; }
	&:visited { color: $accentColor; }

	&:hover {
		transition: 1s;
		text-shadow: 0 0 1px;
	}
}


html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100%;
	line-height: 1.5;
	background: $baseColor;
	color: $fontColor;
	font-size: 16px;
}

#app {
	width: 100%;
}

$headerOuterHeight: 35px;
$headerOuterBorderBottomWidth: 1px;
#headerOuter {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: $headerOuterHeight;
	position: fixed;
	left: 0;
	top: 0;
	border-bottom: $headerOuterBorderBottomWidth solid $accentColor;
	background: $subColor2;
	z-index: 1;
	
}

$headerHeight: $headerOuterHeight - $headerOuterBorderBottomWidth;
#header {
	display: flex;
	align-items: flex-end;
	width: $mainWidth;
	min-height: $headerHeight;
	padding-bottom: 2px;

	h1.siteTitle {
		display: flex;
		align-items: flex-end;
		text-transform: capitalize;
	}

	nav {
		//justify-self: flex-end;
		margin-left: auto;
		& > ul {
			display: flex;
			align-items: flex-end;

			li {
				margin-left: 20px;
			}
		}

		a {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
				//border-bottom: 1px solid #fff;
			}
		}

		.myPageButton {
			overflow: hidden;
			display: block;
			width: 25px;
			height: 25px;
			position: relative;
			border-radius: 50%;
			background: #fff;

				&:hover {
					border: 2px solid $accentColor;
				}
			img {
				width: inherit;
				height: inherit;
				//border-radius: 50%;
			}
		}
	}
}


//input[type="email"],
//input[type="text"],
//input[type="password"],
//input[type="age"]
input, textarea, select {
	padding: 7px;
	border: 1px solid #ddd;
	border-radius: 2px;

	&.error {
		border-color: #f88;

		&:focus {
			outline: none;
		}
	}
}

.signUpView, .signInView, .contentsUploadView {
	@include modalWindow;
	overflow: auto;
	display: flex;
	flex-direction: column;
	//justify-content: center;
	//align-items: center;

	.closeArea {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;	
		z-index: 2;
	}

}

.signUp, .signIn, .contentsUpload {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	max-width: 400px;
	min-width: 240px;
	height: 90%;
	max-height: 400px;
	min-height: 400px;
	margin: auto;
	position: relative;
	z-index: 3;
	background: #fff;
	border-radius: 5px;

	& > * {
		width: 90%;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex-basis: 300px;
	}
}

.signUp {
	form > div > input {
		width: 100%;
	}
}

.contentsUpload {
	max-width: 600px;
	max-height: 600px;

	form {
		flex-basis: 600px;

		label {
			display: flex;
			align-items: center;
			position: relative;
			& > span {
				display: block;
				flex-basis: 40%;
			}

			input, textarea, select {
				flex-basis: 100%;
			}

			.characterCount {
				position: absolute;
				right: 10px;
				bottom: 0;
				color: #aaa;
			}
		}

		.selectedImageViewBox {
			display: flex;

			.selectedImage {
				width: 100px;
				height: 100px;
				position: relative;

				.deleteButton {
					position: absolute;
					right: 0;
					top: 0;
				}

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.notification {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30px;
	position: fixed;
	top: $headerOuterHeight;
	left: 0;
	border-bottom: 1px solid #aaa;
	background: #fff;
	transition: 0.5s;
	z-index: 100;

	& > p {
		width: $mainWidth;
		text-align: center;
	}
}


#content {
	width: $mainWidth;
	margin-top: $headerHeight + 40px;
	margin-left: auto;
	margin-right: auto;
}


.contents {
	& > h1 {
		display: none;
	}
}

.imageListViewerNav {
	$imageListViewerNavHeight: 40px;
	$imageListViewerNavBorderColor: $accentColor;
	display: flex;
	height: $imageListViewerNavHeight;
	background: $subColor2;
	border-left: 1px solid $imageListViewerNavBorderColor;
	border-right: 1px solid $imageListViewerNavBorderColor;

	& > li {
		display: flex;
		height: $imageListViewerNavHeight;
		border-right: 1px solid $imageListViewerNavBorderColor;

		&:first-child {
			//border-left: 1px solid $imageListViewerNavBorderColor;
		}

		&:hover {
			background: $subColor;
		}

		& > * {
			display: flex;
			align-items: center;
			padding: 0 10px;
		}
	}

	.autoLoadButtonLabel {
		cursor: default;
		.autoLoadButton {
			width: 20px;
			height: 20px;
		}
	}

	.tagArea {
		position: relative;
		cursor: pointer;

		.tagButton {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 5px;
			border-radius: 2px;
			//background: $accentColor;
			//color: #fff;
			cursor: pointer;
			transition: none;
		}

		.tagsView {
			display: flex;
			flex-wrap: wrap;
			//justify-content: space-between;
			align-items: center;
			align-self: flex-start;
			width: 300%;
			min-height: 150px;
			padding: 10px;
			border: 2px solid #000;
			position: absolute;
			left: -110%;
			top: $imageListViewerNavHeight + 5px;
			background: $subColor2;
			cursor: default;

			&::before {
				content: '';
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 10px solid #000;
				position: absolute;
				left: 50%;
				top: -10px;
			}

			.tag {
				display: flex;
				justify-content: center;
				flex-grow: 1;
				padding: 5px;
			}
		}
	}
}


.simpleImageListViewer {
	.imageList {}

	.images {
		$imagesMargin: 5px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -$imagesMargin;
		
		.image {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
			flex-basis: 150px;
			max-width: 300px;
			height: 200px;
			margin-left: $imagesMargin;
			margin-top: $imagesMargin;
	
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
	
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	
	.pager {
		display: flex;
		justify-content: center;
	
		& > ul {
			display: flex;
			flex-grow: 1;
			flex-basis: 340px;
			max-width: 340px;
			margin: 20px 0;
			list-style: none;
	
			.pagerItem {
				display: flex;
				justify-content: center;
				flex-grow: 1;
			}
		}
	}
}


.myPage {
	& > header {
		border-bottom: 2px solid $accentColor;
	
		ul.myPageNav {
			margin-top: 20px;
			list-style-position: inside;
		}
	}

	.myPageContent {
		margin-top: 20px;

		& > article > div {
			margin-top: 20px;
		}
	}
}

.registrationInformation {
	.registrationInformationView {
		& > dl > div {
			display: flex;
			margin-top: 10px;

			&:first-child { margin-top: 0; }

			& > dt {
				flex-basis: 200px;
			}

			& > dd {
				flex-basis: 200px;
			}
		}

		.activationButton {
			display: block;
		}

		.activated {
			display: block;
			color: $accentColor;
		}

		& > .registrationInformationChangeButton {
			display: block;
			margin-top: 20px;
		}

		& > .withdrawalButton {
			display: block;
			margin-top: $defaultMargin * 3;
		}
	}

	.registrationInformationEdit {
		& > dl > div {
			display: flex;
			flex-wrap: wrap;
			margin-top: 10px;

			&:first-child { margin-top: 0; }

			& > dt {
				flex-basis: 200px;
			}

			& > dd {
				flex-basis: 200px;

				& > input {
					width: 100%;
				}
			}

			dd.avatar {
				display: flex;
				flex-direction: column;
				
				img {
					width: 50px;
					height: 50px;
				}
			}
		}
	
		button[type="submit"] {
			margin-top: 20px;
		}

		button:nth-of-type(2) {
			margin-left: 20px;
		}
	}

	.dialog {
		@include modalWindow;
		display: flex;

		& > div {
			overflow: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 70%;
			height: 400px;
			margin: auto;
			padding: 40px;
			top: 50%;
			background: #fff;
		}
	}

	.withdrawalDialog {
		& > div > div {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
		}
	}
}


.simpleContentViewer {
	@include modalWindow;
	display: flex;

	& > .closeArea {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: 2;
	}
	
	& > .wrapper {
		display: flex;
		width: 100%;
		height: 90%;
		margin: auto;
		position: relative;
		z-index: 3;
	
		.closeButton {
			order: 4;
			width: 40px;
			height: 40px;
			padding: 0;
			border: none;
			position: absolute;
			left: 90%;
			top: 0;
			font-size: 24px;
		}

		& > *:nth-child(2) { order: 2; }
		& > *:nth-child(3) { order: 1; }
		& > *:nth-child(4) { order: 3; }

		.catContent {
			overflow: auto;
		}
	}
}

.contentViewer {
	display: flex;
	width: 100%;

	& > *:nth-child(1) { order: 2; }
	& > *:nth-child(2) { order: 1; }
	& > *:nth-child(3) { order: 3; }

	.navigationButton {}

	.catContent {
		width: 85%;
	}
}

.simpleContentViewer,
.contentViewer {
	.navigationButton {
		flex-grow: 1;

		& > * {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-size: 24px;
		}

		& > a:hover {
			transition: none;
			background: rgba(0, 0, 0, 0.3);
			color: #fff;
		}
	}
}

.catContent {
	width: 80%;
	min-height: 100%;
	background: #fff;

	.contentImg {
		display: flex;
		justify-content:center;
		align-items: center;
		width: 100%;
		min-height: 300px;
		background: #000;

		img {
			flex-shrink: 0; // for IE;
			max-width: 100%;
			max-height: 70vh;
		}
	}

	.contentInfo {
		padding: 10px;
		background: #fff;

		& > h1 { display: none; }

		.contentInfoList {
			display: flex;
			flex-wrap: wrap;
			list-style: none;

			& > li {
				margin-left: 10px;

				&:first-child {
					margin-left: 0;
				}
			}

			.poster {
				.userView {
					display: flex;
					align-items: flex-start;

					img {
						width: 50px;
						height: 50px;
					}
				}

			}

			.tags .tag {
				margin-left: 5px;
			}

			.description {
				order: -1;
				width: 100%;
				margin-left: 0;
				margin-bottom: 20px;
			}
		}

		.contentButtons {
			margin-top: 20px;

			& > * {
				margin-left: 10px;
				&:first-child { margin-left: 0; }
			}

			& > button {
				border: none;
				cursor: pointer;
			}
		}

		.deletionConfirmation {
			@include modalWindow;
			display: flex;

			& > div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 80%;
				height: 200px;
				margin: auto;
				background: #fff;

				form {
					display: flex;
					margin-top: 20px;

					& > * {
						margin-left: 20px;
						&:first-child { margin-left: 0; }
					}
				}
			}
		}

		.shareView {
			margin-top: 20px;
			border: 1px solid #aaa;
			border-radius: 5px;

			.shareUrlCopyButton {
				margin-left: 20px;
				border: none;
				cursor: pointer;
			}

			ul {
				list-style: none;
			}

			.shareButtons {
				display: flex;

				& > * {
					margin-top: 20px;
					margin-left: 20px;
					&:first-child { margin-left: 0; }
				}

				img {
					width: 48px;
					height: 48px;
				}
			}
		}

		.commentBox {
			margin-top: 20px;
			border-top: 1px solid #aaa;

			.commentList > section {
				margin-top: 20px;

				& > header {
					display: flex;
					align-items: flex-end;

					& > * {
						margin-left: 20px;
						&:first-child { margin-left: 0; }
					}
				}

				.userView {
					img {
						width: 30px;
						height: 30px;
					}
				}

				button {
					border: none;
				}
			}

			.commentForm {
				margin-top: 20px;
				display: flex;
				flex-wrap: wrap;

				textarea {
					width: 100%;
				}

				button[type="submit"] {
					margin-top: 10px;
					margin-left: auto;
				}
			}
		}
	}
}

.user {
	& > .articleContent {
		margin-top: 20px;
	}
}

.about {
	section {
		margin-top: 20px;
	}
	footer {
		margin-top: 20px;
	}
}

.contact {
	& > .articleContent {
		margin-top: 20px;
	}
}

.terms {
	section {
		margin-top: 20px;
	}
}


#footerOuter {
	margin-top: 60px;
	width: 100%;
	background: $subColor;

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 40px;
		position: relative;
		top: -15px;
		transform: rotate(1deg);
		background: $subColor;
	}
}

#footer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: $mainWidth;
	margin: 0 auto;
	padding-bottom: 20px;

	& > ul > li {
		display: flex;
		justify-content: flex-end;
		line-height: 1.6;
	}

	.copyright {
		margin-top: 20px;
		font-size: 12px;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 14px;
	}

	#header {
		font-size: 12px;
	}
}