@mixin clearfix {
	content: '';
	display: block;
	clear: both;
}

$baseColor: #fff;
$subColor: #451a03;
$subColor2: #fdf6e3;

$accentColor: #b66a2f;

$mainWidth: 90%;
$defaultMargin: 20px;

$modalWindowColor: rgba(0, 0, 0, 0.7);

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $accentColor;
	cursor: pointer;

	&:link { color: $accentColor; }
	&:visited { color: $accentColor; }

	&:hover {
		transition: 1s;
		text-shadow: 0 0 1px;
	}
}


html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100%;
	line-height: 1.5;
	background: $baseColor;
	color: $subColor;
	font-size: 16px;
}

#app {
	width: $mainWidth;
}

$headerOuterHeight: 35px;
$headerOuterBorderBottomWidth: 4px;
#headerOuter {
	display: flex;
	justify-content: center;
	width: 100%;
	height: $headerOuterHeight;
	position: fixed;
	left: 0;
	top: 0;
	border-bottom: $headerOuterBorderBottomWidth solid $accentColor;
	background: $subColor;
	z-index: 1;
	
}

$headerHeight: $headerOuterHeight - $headerOuterBorderBottomWidth;
#header {
	display: flex;
	align-items: flex-end;
	width: $mainWidth;
	height: $headerHeight;
	padding-bottom: 2px;

	h1.siteTitle {
		display: flex;
		align-items: flex-end;
		text-transform: capitalize;
		a {
			color: #fff;
		}
	}

	nav {
		//justify-self: flex-end;
		margin-left: auto;
		& > ul {
			display: flex;
			align-items: flex-end;

			li {
				margin-left: 20px;
			}
		}

		a {
			color: #fff;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
				//border-bottom: 1px solid #fff;
			}
		}

		.myPageButton {
			overflow: hidden;
			display: block;
			width: 25px;
			height: 25px;
			position: relative;
			border-radius: 50%;
			background: #fff;

				&:hover {
					border: 2px solid $accentColor;
				}
			img {
				width: inherit;
				height: inherit;
				//border-radius: 50%;
			}
		}
	}
}


//input[type="email"],
//input[type="text"],
//input[type="password"],
//input[type="age"]
input, textarea, select {
	padding: 7px;
	border: 1px solid #ddd;
	border-radius: 2px;

	&.error {
		border-color: #f88;

		&:focus {
			outline: none;
		}
	}
}

.signUpView, .signInView, .contentsUploadView {
	overflow: auto;
	display: flex;
	flex-direction: column;
	//justify-content: center;
	//align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	background: $modalWindowColor;

	.closeArea {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;	
		z-index: 2;
	}

}

.signUp, .signIn, .contentsUpload {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 400px;
	height: 400px;
	min-height: 400px;
	margin: auto;
	position: relative;
	z-index: 3;
	background: #fff;
	border-radius: 5px;

	& > * {
		width: 90%;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex-basis: 300px;
	}
}

.contentsUpload {
	width: 600px;
	min-width: 400px;
	height: 600px;
	min-height: 600px;

	form {
		flex-basis: 600px;

		label {
			display: flex;
			align-items: center;
			position: relative;
			& > span {
				display: block;
				width: 3em;
			}

			input, textarea, select {
				flex-basis: 100%;
			}

			.characterCount {
				position: absolute;
				right: 0;
				bottom: 0;
				color: #aaa;
			}
		}

		.selectedImageViewBox {
			display: flex;

			.selectedImage {
				width: 100px;
				height: 100px;
				position: relative;

				.deleteButton {
					position: absolute;
					right: 0;
					top: 0;
				}

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.notification {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30px;
	position: fixed;
	top: $headerOuterHeight;
	left: 0;
	border-bottom: 1px solid #aaa;
	background: #fff;
	transition: 0.5s;

	& > p {
		width: $mainWidth;
		text-align: center;
	}
}


#content {
	margin-top: $headerHeight + 40px;
}


.contents {
	& > h1 {
		display: none;
	}
}

.imageListViewerNav {
	$imageListViewerNavHeight: 40px;
	display: flex;
	height: $imageListViewerNavHeight;
	background: $subColor2;

	& > * {
		display: flex;
		align-items: center;
		height: $imageListViewerNavHeight;
		padding: 0 10px;
		border-right: 2px solid $accentColor;

		&:first-child {
			border-left: 2px solid $accentColor;
		}

		&:hover {
			background: $subColor;
			color: #fff;
		}
	}

	.autoLoadButtonLabel {
		cursor: default;
		.autoLoadButton {
			width: 20px;
			height: 20px;
		}
	}

	.tagArea {
		position: relative;
		cursor: pointer;

		.tagButton {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 5px;
			border-radius: 2px;
			//background: $accentColor;
			//color: #fff;
			cursor: pointer;
			transition: none;
		}

		.tagsView {
			display: flex;
			flex-wrap: wrap;
			//justify-content: space-between;
			align-items: center;
			align-self: flex-start;
			width: 300%;
			min-height: 150px;
			padding: 10px;
			border: 2px solid #000;
			position: absolute;
			left: -110%;
			top: $imageListViewerNavHeight + 5px;
			background: $subColor2;
			cursor: default;

			&::before {
				content: '';
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 10px solid #000;
				position: absolute;
				left: 50%;
				top: -10px;
			}

			.tag {
				display: flex;
				justify-content: center;
				flex-grow: 1;
				padding: 5px;
			}
		}
	}
}


.simpleImageListViewer {
	.imageList {}

	.images {
		$imagesMargin: 5px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -$imagesMargin;
		
		.image {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
			flex-basis: 150px;
			max-width: 300px;
			height: 200px;
			margin-left: $imagesMargin;
			margin-top: $imagesMargin;
	
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
	
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	
	.pager {
		display: flex;
		justify-content: center;
	
		& > ul {
			display: flex;
			flex-grow: 1;
			flex-basis: 340px;
			max-width: 340px;
			margin: 20px 0;
			list-style: none;
	
			.pagerItem {
				display: flex;
				justify-content: center;
				flex-grow: 1;
			}
		}
	}
}


.myPage {
	& > header {
		border-bottom: 2px solid $accentColor;
	
		ul.myPageNav {
			margin-top: 20px;
			list-style-position: inside;
		}
	}

	.myPageContent {
		margin-top: 20px;

		& > article > div {
			margin-top: 20px;
		}
	}
}

.registrationInformation {
	.registrationInformationView {
		& > dl > div {
			display: flex;
			margin-top: 10px;

			&:first-child { margin-top: 0; }

			& > dt {
				flex-basis: 200px;
			}

			& > dd {
				flex-basis: 200px;
			}
		}

		.activationButton {
			display: block;
		}

		.activated {
			display: block;
			color: $accentColor;
		}

		& > .registrationInformationChangeButton {
			display: block;
			margin-top: 20px;
		}

		& > .withdrawalButton {
			display: block;
			margin-top: $defaultMargin * 3
		}
	}

	.registrationInformationEdit {
		& > dl > div {
			display: flex;
			flex-wrap: wrap;
			margin-top: 10px;

			&:first-child { margin-top: 0; }

			& > dt {
				flex-basis: 200px;
			}

			& > dd {
				flex-basis: 200px;

				& > input {
					width: 100%;
				}
			}

			dd.avatar {
				display: flex;
				flex-direction: column;
				
				img {
					width: 50px;
					height: 50px;
				}
			}
		}
	
		button[type="submit"] {
			margin-top: 20px;
		}

		button:nth-of-type(2) {
			margin-left: 20px;
		}
	}

	.dialog {
		display: flex;
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background: $modalWindowColor;
		z-index: 1;

		& > div {
			overflow: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 70%;
			height: 400px;
			margin: auto;
			padding: 40px;
			top: 50%;
			background: #fff;
		}
	}

	.withdrawalDialog {
		& > div > div {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
		}
	}
}

.simpleContentViewer {
	display: flex;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	background: $modalWindowColor;

	& > .closeArea {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0;
	}
	
	& > .wrapper {
		display: flex;
		width: 100%;
		height: 90%;
		margin: auto;
		position: relative;
		z-index: 1;
	
		.closeButton {
			order: 4;
			width: 40px;
			height: 40px;
			padding: 0;
			border: none;
			position: absolute;
			left: 90%;
			top: 0;
			font-size: 24px;
		}

		.navigationButton {
			width: 10%;

			& > * {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				font-size: 24px;
			}

			& > a:hover {
				transition: none;
				background: rgba(0, 0, 0, 0.3);
				color: #fff;
			}

			&:nth-of-type(1) { order: 1; }
			&:nth-of-type(2) { order: 3; }
		}

		.catContent {
			overflow: auto;
			order: 2;
			width: 80%;
			min-height: 100%;
			background: #fff;

			.contentImg {
				display: flex;
				justify-content: center;
				width: 100%;
				height: 70%;
				background: #000;

				img {
					width: 80%;
					height: 100%;
				}
			}

			.contentInfo {
				padding: 10px;
				background: #fff;

				& > h1 { display: none; }

				.contentInfoList {
					display: flex;
					flex-wrap: wrap;
					list-style: none;

					& > li {
						margin-left: 20px;

						&:first-child {
							margin-left: 0;
						}
					}

					.poster {
						.userView {
							display: flex;
							align-items: flex-start;
	
							img {
								width: 50px;
								height: 50px;
							}
						}

					}

					.tags .tag {
						margin-left: 5px;
					}

					.description {
						order: -1;
						width: 100%;
						margin-left: 0;
						margin-bottom: 20px;
					}
				}

				.contentButtons {
					margin-top: 20px;

					& > * {
						margin-left: 20px;
						&:first-child { margin-left: 0; }
					}

					& > button {
						border: none;
						cursor: pointer;
					}
				}

				.shareView {
					margin-top: 20px;
					border: 1px solid #aaa;
					border-radius: 5px;

					ul {
						list-style: none;
					}
				}

				.commentBox {
					margin-top: 20px;
					border-top: 1px solid #aaa;

					.commentList > section {
						margin-top: 20px;

						& > header {
							display: flex;
							align-items: flex-end;

							& > * {
								margin-left: 20px;
								&:first-child { margin-left: 0; }
							}
						}

						.userView {
							img {
								width: 30px;
								height: 30px;
							}
						}

						button {
							border: none;
						}
					}

					.commentForm {
						margin-top: 20px;
						display: flex;
						flex-wrap: wrap;

						textarea {
							width: 100%;
						}

						button[type="submit"] {
							margin-left: auto;
						}
					}
				}

			}
		}
	}

}
